<?xml version="1.0" encoding="utf-8"?>
<layer-list xmlns:android="http://schemas.android.com/apk/res/android">
    <item android:drawable="@color/drift_splash_background"/>
    <item
        android:drawable="@drawable/drift_splash"
        android:width="{{.Width}}dp"
        android:height="{{.Height}}dp"
        android:gravity="center"/>
</layer-list>
