<?xml version="1.0" encoding="utf-8"?>
<resources>
    <style name="LaunchTheme" parent="Theme.SplashScreen">
        <item name="windowSplashScreenBackground">@color/drift_splash_background</item>
        <item name="windowSplashScreenAnimatedIcon">@drawable/drift_splash_icon</item>
        <item name="windowSplashScreenIconBackgroundColor">{{.IconBackgroundColor}}</item>
        <item name="postSplashScreenTheme">@style/AppTheme</item>
    </style>
</resources>
