app:
  name: {{.AppName}}

# Drift plugins are Go modules. To install one:
#   1. go get github.com/foo/drift-splash/plugin@latest
#   2. add an entry below
#   3. commit drift.yaml AND tools/drift-plugins/main.go together
plugins: []
